header{
    position: fixed;
    top:0px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    grid-template-areas: "logo  botoes"
                        "busca busca";
    margin:2px;
    
}
fieldset.busca {
    grid-area: busca;
    border-radius: 5px;
    padding:0px;   
    display: flex;
    border: 1px solid black;
    background-color: white;
}
.busca input{
    width:100%;
    height: 100%;
    border:none;
    background-color: transparent;
    outline: none;
}
header h1{
    margin:10px;
    font-size:28pt;
    grid-area: logo;
    
}
.autenticacao{    
    margin: 10px;  
    padding: 0;
    grid-area:botoes;
    margin-top:20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
button.profile{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid black;
    padding: 0;
    outline: none;
}
.autenticacao a{
    display: none;
}
nav.hidden ul, nav.hidden a{
    display: none;
}
nav.shown{ 
    position: fixed;
    width: 200px;
    padding: 10px;
    top:20px;
    background-color:#ec8908 ;
    border: 1px black solid;
    transition: 0.5s,background 0.01s, border 0.01s;
    

}  

nav.shown div{
        
    width: 100%;
    display: flex;   
    padding: 0;
    align-items: center;
    justify-content:space-around ;
}

nav.shown ul{
    margin: 0;     
    display: flex ;
    flex-direction: column;
    background-color:#ec8908; 
    list-style: none;       
    padding: 0px;
    align-items: center;
}
nav.shown ul li{
    width: 100%;
    text-align: center;
    border-bottom: 1px solid white;
    transition: background 0.5s;
}
nav.shown ul li:hover{
    background-color:#FFBF00 ;
}

nav.shown a{
    margin-left: 10px;
    display: block;
    word-wrap: break-word;
    font-size: smaller;
}
@media screen and (min-width:750px){
    header{        
        grid-template-columns: 1fr 2fr 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "logo busca botoes";
        align-items: baseline;        
        
    }
    
    .autenticacao a{
        display: flex;
        margin-right:10px ;
    }
    .busca{
       height: 30px;
        
        
    }
}


